<div class="text-center m-auto">
	<h1 class="mt-5 mb-5">
		Full course About Learning <br />
		Node.js and Create Blog App
	</h1>
	<img src="/imgs/banner.png" class="object-fit-cover" />
	<section class="articals">
		<ul class="articals-ul list-unstyled">
			<li class="d-flex justify-content-between">
				<a href="#" class="text-decoration-none text-black">
					<span>Post Title</span>
				</a>
				<span>Date</span>
			</li>
			<hr />
		</ul>
	</section>
</div>
