<div class="text-center m-auto">
	<h1 class="mt-5 mb-5">
		Full course About Learning <br />
		Node.js and Create Blog App
	</h1>
	<img src="/imgs/banner.png" class="object-fit-cover" />
	<section class="articals">
		<ul class="articals-ul list-unstyled mt-5">
			<% data.forEach(post => { %>
			<li class="d-flex justify-content-between">
				<a href="/post/<%= post._id %>" class="text-decoration-none text-black">
					<span><%= post.title %></span>
				</a>
				<span><%= post.createdAt.toDateString() %></span>
			</li>
			<hr />
			<% }) %>
		</ul>
	</section>
</div>
